rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{user} {
    	allow update: if request.auth != null;
      allow create: if request.auth != null;
      allow read: if true;
      allow delete: if false;
    }
    match /mail/{email} {
    	allow create: if request.auth != null;
      allow update, delete, read: if false;
    }
    match /settings/{setting} {
    	allow read, write: if request.auth != null;
    }
    match /{document=**} {
      allow write: if request.auth != null;
      allow read: if true;
    }
  }
}
