rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{user} {
      allow read: if request.auth != null;
      allow write: if
        request.auth != null &&
        (
          user == request.auth.token.email ||
          get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.admin
        );
      allow delete: if get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.admin;
    }
    match /events/{event} {
      allow read: if request.auth != null;
      allow write: if 
        request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.admin;
    }
    match /mail/{email} {
      // should only be written through request functions
    	allow read, write: if false;
    }
    match /settings/{setting} {
    	allow read: if request.auth != null;
      allow write: if
        request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.admin;
    }
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
